<div class="content">
  <h2>add yourself to the artserv:</h2>
  <div class="form">
    <form id="add-artist" ng-submit="addArtist()">
      <input type="text" placeholder="first name" ng-model="artist.firstName">
      <input type="text" placeholder="last name" ng-model="artist.lastName">
      <input type="text" placeholder="website" ng-model="artist.website">
      <input type="text" placeholder="email address" ng-model="artist.emailAddress">
      <input type="text" placeholder="city" ng-model="artist.city">
      <input type="text" placeholder="country" ng-model="artist.country">
      <h2>Occupation:</h2>
      <select name="occupation" ng-model="artist.occupation">
        <option value="Architect">Architect</option>
        <option value="Artist">Artist</option>
        <option value="Curator">Curator</option>
        <option value="Designer">Designer</option>
        <option value="Filmmaker">Filmmaker</option>
        <option value="Musician">Musician</option>
        <option value="Photographer">Photographer</option>
        <option value="Typographer">Typographer</option>
        <option value="Writer">Writer</option>
      </select>
      <input type="submit">
    </form>
  </div>
</div>

