<div class="content">
  <h2>add yourself to the artserv:</h2>
  <div class="form">
    <form id="add-artist" ng-submit="addArtist()">
      <input type="text" placeholder="first name">
      <input type="text" placeholder="last name">
      <input type="text" placeholder="website">
      <input type="text" placeholder="email address">
      <input type="text" placeholder="city">
      <input type="text" placeholder="country">
      <h2>Occupation:</h2>
      <select name="occupation">
        <option value="Architect">Architect</option>
        <option value="Artist">Artist</option>
        <option value="Curator">Curator</option>
        <option value="Designer">Designer</option>
        <option value="Filmmaker">Filmmaker</option>
        <option value="Musician">Musician</option>
        <option value="Photographer">Photographer</option>
        <option value="Typographer">Typographer</option>
        <option value="Writer">Writer</option>
      </select>
      <input type="submit">
    </form>
  </div>
</div>

